<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">

                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Father Name</th>
                    <th scope="col">Date of birth</th>
                    <th scope="col">Sex</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>

                <tr th:if="${students.empty}">
                    <td colspan="2"> No Students Available</td>
                </tr>

                <tr th:each="student : ${students}">


                    <td><span th:text="${student.id}"></span></td>
                    <td><span th:text="${student.firstName}"></span></td>
                    <td><span th:text="${student.lastName}"></span></td>
                    <td><span th:text="${student.fatherName}"></span></td>

                    <td><span th:text="${student.date}"></span></td>
                    <td></td>
                    <td><span th:text="${student.address}"></span></td>
                    <td><span th:text="${student.phone}"></span></td>
                    <td>
                        <form th:action="@{/student/edit}" th:object="${student}" method="get">
                            <input type="hidden" name="id" th:value="${student.id}" readonly="">
                            <button type="submit">EDIT</button>
                        </form>
                    </td>

                    <td>
                        <form th:action="@{/student/delete}" th:object="${student}" method="get">
                            <input type="hidden" name="id" th:value="${student.id}" readonly="">
                            <button type="submit">Delete</button>
                        </form>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>